{% include 'page_layout.html' %}
{% block body %}
    {#    <!--latest newa-->#}
          <section class="blog py-md-4 py-md-3 py-sm-3 py-3">
             <div class="container py-md-5 py-md-5 py-sm-4 py-3">
                <h1 class="title text-center mb-sm-5 mb-md-4 mb-sm-4 mb-3"> Correlation Graph</h1>
                <div class = "row">
                   <div class="col-lg-6 left-side-agile mb-3" >
                      <div class="least-w3layouts-text-gap">
                            <div align="center" class="col-md-8 col-sm-8 news-agile-text " style="justify-content: center; height: 100px; vertical-align: center">
                                <a href="#">
                                    <h4 style="margin-top: 30px; margin-left: 50px"> Graphs for More Correlated Attributes</h4>
                                </a>
                            </div>
                      </div>
                   </div>


                    <div class="col-lg-6 left-side-agile mb-3">
                      <div class="least-w3layouts-text-gap">
                            <div align="center" class="col-md-8 col-sm-8 news-agile-text " style="justify-content: center; height: 100px; vertical-align: center">
{#                               <h4 style="margin-top: 30px; margin-left: 50px"> Trend Analysis</h4>#}
                                <a href="#">
                                    <h4 style="margin-top: 30px; margin-left: 50px"> Customized Graphs</h4>
                                </a>
                            </div>
                      </div>
                   </div>
          </section>
          <!--latest news-->

{% endblock %}