{% extends "page_layout.html" %}

{% block body %}



    <section class="blog-two py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Current Projects</h3>
            <div class="inner_sec_info">
               <!-- left side -->
               <div class="row">
                  <div class="col-lg-12 blog_section">
                     <div class="row">
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>11th - Jan 2020</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <h5 style="color: darkred">Deadline : 20th - Jan 2020</h5>
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>10th - Jan 2020</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <h5 style="color: darkred">Deadline : 20th - Jan 2020</h5>
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>9th - Jan 2020</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <h5 style="color: darkred">Deadline : 20th - Jan 2020</h5>
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row my-lg-4 my-3">
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>8th - Jan 2020</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <h5 style="color: darkred">Deadline : 20th - Jan 2020</h5>
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>7th - Jan 2020</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <h5 style="color: darkred">Deadline : 20th - Jan 2020</h5>
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>6th - Jan 2020</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <h5 style="color: darkred">Deadline : 20th - Jan 2020</h5>
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
                  <!-- //left side -->


               </div>
               <!-- //right side -->
            </div>
         </div>
      </section>


    <section class="blog-two py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Previous Projects</h3>
            <div class="inner_sec_info">
               <!-- left side -->
               <div class="row">
                  <div class="col-lg-12 blog_section">
                     <div class="row">
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>11th - Jan 2019</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>10th - Jan 2019</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>9th - Jan 2019</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row my-lg-4 my-3">
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>8th - Jan 2020</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>7th - Jan 2020</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card col-md-4 blog_img blog_img-mtextmk">
                           <div class="blog_con">

                              <div class="blog_w3_info mmainsmk-blogsl">
                                 <h4>6th - Jan 2020</h4>
                                 <h5 class="my-3">
                                    <a href="about.html">Report-1 for statistical analysis</a>
                                 </h5>
                                 <ul class="list-inline">
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-check-circle	"></span>
                                       20 responses</a>
                                       <span>|</span>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <span class="fas fa-circle"></span>
                                       30 remaining</a>
                                       <span>|</span>
                                    </li>
                                 </ul>
                                 <div class="blog_w3_info">
                                     <button class="btn btn-info">View Details</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
                  <!-- //left side -->


               </div>
               <!-- //right side -->
            </div>
         </div>
      </section>


{% endblock %}