<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>UPG BRAC</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

    <body>

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


      <div class="click-closed"></div>
     <div class="wrapper">
         {% include "nav.html" %}
     </div>

      <!--/ Nav End /-->

       <!--services-->
      <div>
          <section class="service py-md-1 py-md-1 py-sm-1 py-1" >
             <div class="container py-lg-5 py-md-5 py-sm-4 py-3" style=" transform: scale(.8) ;">
{#                <h3 class="title clr text-center mb-md-1 mb-md-1 mb-sm-1 mb-1">Services</h3>#}
                <div class="row agile-service-grids-all" style="margin-top: 50px">
                   <div class="col-lg-4 w3layouts-service-list">
                      <div class="row white-shadow rounded p-lg-4 p-md-4 p-sm-3 p-3 mb-3 clr-one" style="height: 150px; width: 360px;">
                         <div class="col-md-3 col-sm-3 white-left">
                            <span class="fas fa-lightbulb banner-icon"></span>
                         </div>
                         <div class="col-md-9 col-sm-9 white-right">
                             <a href="{{ url_for('report_generation')}}"> <h4>Report Generation</h4> </a>
                            <!--<p> Here see the charts</p>-->
                         </div>
                      </div>
                      <div class="row white-shadow rounded p-lg-4 p-md-4 p-sm-3 p-3 mb-3 clr-two" style="height: 150px; width: 360px;">
                         <div class="col-md-3 col-sm-3 white-left">
                            <span class="fas fa-chart-pie banner-icon"></span>
                         </div>
                         <div class="col-md-9 col-sm-9 white-right" style="justify-content: center">

                             <a href="{{ url_for('dashboard')}}"> <h4>Dashboard</h4> </a>
                            <!--<p>All groups</p>-->
                         </div>
                      </div>
                      <div class="row white-shadow rounded p-lg-4 p-md-4 p-sm-3 p-3 clr-three" style="height: 150px; width: 360px;">
                          <div class="col-md-3 col-sm-3 white-left">
                            <span class="fab fa-cloudscale banner-icon"></span>
                         </div>

                         <div class="col-md-9 col-sm-9 white-right">
                             <a href="{{ url_for('report_submit') }}"> <h4>Report Submit</h4> </a>
                            <!--<p>Individual Participants</p>-->
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-4  w3layouts-service-list" style="padding-right: 32px">
                      <div class="white-pie-chart ">
                         <!-- pie-chart -->
                         <div class="area-grids">
                            <div class="area-grids-heading">
                            </div>
                            <div id="graph4"></div>
                         </div>
                         <!-- //pie-chart -->
                      </div>
                   </div>
                   <div class="col-lg-4  w3layouts-service-list" >
                      <div class="row white-shadow rounded p-lg-4 p-md-4 p-sm-3 p-3 mb-3 clr-four" style="height: 150px; width: 360px;">
                         <div class="col-md-3 col-sm-3 white-left">
                            <span class="fab fa-slideshare banner-icon"></span>
                         </div>
                         <div class="col-md-9 col-sm-9 white-right">

                             <a href="{{ url_for('notifications')}}"> <h4>Notifications</h4> </a>
                            <!--<p>Report from given template</p>-->
                         </div>
                      </div>
                      <div class="row white-shadow rounded p-lg-4 p-md-4 p-sm-3 p-3 mb-3 clr-five" style="height: 150px; width: 360px;">

                          <div class="col-md-3 col-sm-3 white-left">
                            <span class="fas fa-chart-line banner-icon"></span>
                         </div>
                         <div class="col-md-9 col-sm-9 white-right">
                             <a href="{{ url_for('data_analysis')}}"> <h4> Data Analysis </h4> </a>
                            <!--<p>Analysis for different enterprises</p>-->
                         </div>
                      </div>
                      <div class="row white-shadow rounded p-lg-4 p-md-4 p-sm-3 p-3 clr-six" style="height: 150px; width: 360px;">
                         <div class="col-md-3 col-sm-3 white-left">
                            <span class="fas fa-users banner-icon"></span>
                         </div>
                         <div class="col-md-9 col-sm-9 white-right">
                             <a href="{{ url_for('register' )}}"> <h4>Register Officer</h4> </a>
                            <!--<p>Need more attentions </p>-->
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </section>
      </div>
          <!--//services-->



      <!--/ footer Star /-->
      {% include "footer.html" %}
      <!--/ Footer End /-->

      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
      <div id="preloader"></div>





    </body>
</html>
