{#css #}
    <link href="static/img/upg.png" rel="icon">
      <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

      <!-- Bootstrap CSS File -->
      <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Libraries CSS Files -->
      <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="static/lib/animate/animate.min.css" rel="stylesheet">
      <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
      <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

      <!-- Main Stylesheet File -->
      <link href="static/css/style.css" rel="stylesheet">

      <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="keywords" content="Employ Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
             <!--Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />-->
          <script>
             addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
             }, false);

             function hideURLbar() {
                window.scrollTo(0, 1);
             }
          </script>
          <!--//meta tags ends here-->
          <!--booststrap-->
          <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
          <!--//booststrap end-->
          <!-- font-awesome icons -->
          <link href="static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
          <!-- //font-awesome icons -->
          <!-- For Text About slider -->
          <link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="all" />
          <!-- //For Text About slider -->
          <!-- For Service pie-chart -->
          <link rel="stylesheet" href="static/css/morris.css">
          <!--//For Service pie-chart -->
          <!--stylesheets-->
          <link href="static/css/style.css" rel='stylesheet' type='text/css' media="all">
          <!--//stylesheets-->
          <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">









<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="true" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <a class="navbar-brand text-brand" href="/">UPG<span class="color-b"> BRAC </span></a>

      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="true">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/latest-updates">Latest Updates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recent-reports">Recent Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my-team">My Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
      <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
    </div>
  </nav>
