{% include 'page_layout.html' %}
{% block body %}
<div align="center">
    <div style="width: 80% ; margin-bottom: 100px" >
        <br/>
        <h2>Officers Registration</h2>
        <br/>

        <form action = "/save-register-info" method = "POST" style="width: 30%">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" maxlength="15" class="form-control" id="username" name="username">
                <span id="username_msg" style="font-size: small;color: red"></span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" maxlength="15"  class="form-control" id="password" name="password">
                <span id="password_msg" style="font-size: small;color: red"></span>
            </div>
            <div class="form-group">
                <label for="c_password">Confirm Password</label>
                <input type="password" maxlength="15"  class="form-control" id="c_password" name="c_password">
                <span id="c_password_msg" style="font-size: small;color: red"></span>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" maxlength="15"  class="form-control" id="email" name="email">
                <span id="email_msg" style="font-size: small;color: red"></span>
            </div>
            <div class="form-group">
                <label for="birthday">Birthday</label>
                <input class="form-control" type="date" value="1990-01-01" id="birthday" name="birthday">
                <span id="birthday_msg" style="font-size: small;color: red"></span>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="gender" name="gender">
                    <option selected>Choose...</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                </select>
                <span id="gender_msg" style="font-size: small;color: red"></span>
            </div>
            <div class="form-group">
                <label for="occupation">Occupation</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="occupation" name="occupation">
                    <option selected>Choose...</option>
                    <option value="1">Branch Manager</option>
                    <option value="2">Regional Manager</option>
                    <option value="3">Program Officer</option>
                </select>
                <span id="occupation_msg" style="font-size: small;color: red"></span>
            </div>
            <div class="form-group">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="terms" name="terms"> I agree to terms of use
                </label><br/>
                <span id="terms_msg" style="font-size: small;color: red"></span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-dark btn-lg" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}