<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPG BRAC</title>
</head>
<body>
 {% include 'nav.html' %}
Design Your Report Template..
<script src="static/js/jquery-2.2.3.min.js"></script>
 <div class="container"  style="margin-top: 100px;">

<form id="form" action="/report-generation-done/{{ report_id }}" method="POST">

     <div class="form-group " align="center">
        <label style="font-size: xx-large; " for="reportName">Report Name</label>
        <input  style="font-size:20px; margin-bottom: 30px;" type="text" class="form-control" aria-label="Large" id="reportName" name="reportName" >
    </div>
    <div id = "questions">
        <div id="group1" class="form-row">
        <div class="form-group col-md-8">
          <label for="q1">Question 1</label>
          <input type="text" class="form-control" id="q1" name="q1">
        </div>
        <div class="form-group col-md-2">
          <label for="type1" >Answer type</label>
          <select id="type1" name="type1" class="form-control">
            <option selected>Number</option>
            <option>Text</option>
            <option>Multiple Choice</option>
            <option>Check box</option>
            <option>Short Answer</option>
            <option>Paragraph</option>
            <option>File Upload</option>
          </select>
        </div>
        <div style="padding-top: 30px" class="form-group col-md-2">
          <button style="margin-left: 20px" onclick="removeElement(id)" id="0" name="0" type="button" class="btn btn-primary">Remove</button>
        </div>
    </div>
    </div>


    <div>
        <button  id="btn" name="btn" type="button" class="btn btn-success">Add Question</button>
    </div>
    <div>
        <input style="margin-left: 40%; margin-top: 20px; margin-bottom: 100px" type="submit" class="btn btn-primary btn-lg btn-bloc" value="Submit">
{#        Submit</input>#}
    </div>

{#  <input type="submit" value="Submit">#}

</form>




    <script>

        var count=2;
        $("#btn").click(function(){

          $("#questions").append(addNewRow(count));
          count++;
        });

        function addNewRow(count){
            var idd = "group"+count;
            var newrow= '<div id="' + idd +' " class="form-row">'+
                '<div class="form-group col-md-8">'+
                 '<label for="inputCity">Question '+ count +'</label>'+
                  '<input type="text" class="form-control" id="q' + count + '" name="q' + count + '">'+
                '</div>'+
                '<div class="form-group col-md-2">'+
                  '<label for="type' + count+'">Answer type</label>'+
                  '<select id="type' + count +'" name="type' + count +'" class="form-control">'+
                   ' <option selected>Number</option>'+
                    '<option>Text</option>'+
                  '</select>'+
                '</div>'+
                 ' <div style="padding-top: 30px" class="form-group col-md-2">' +
                    '<button style="margin-left: 20px" id="'+ count +'" name="'+ count +'" onclick="removeElement(id)" type="button" class="btn btn-primary">Remove</button>' +
                  '</div>' +
              '</div>';
          return newrow;
        }
    </script>

<div  id="reqs">
{#<h3 align = "center"> Requirements </h3>#}
<script>
    var reqs_id = 0;
    function removeElement(elementId) {
        // Removes an element from the document
        var idd = "group"+ elementId;
        var element = document.getElementById(idd);
        console.log(elementId);
        //var element = document.getElementById(elementId);
        console.log(element);
        //element2.parentNode.removeChild(element2);
        element.parentNode.removeChild(element);
    }
</script>
{#<button type="button" value="Add" onclick="javascript:add();"> Add</button>#}

{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>#}
{#<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>#}
{#<script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>#}
{# <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>#}

</div>
 </div>
{% include 'footer.html' %}
</body>
</html>