
{% include 'page_layout.html' %}

{% block body %}

<div  style="margin-top: 10px;margin-left: 100px; width: 80%; ">
<h1 style="margin-bottom: 15px" align="center">Report 1 Responses</h1>
<div>



<table class="table">
  <thead class="thead-dark align-content-center" >
    <tr>
      <th scope="col">Branch id</th>
      <th scope="col">Number of participants of age 20-25</th>
      <th scope="col">Number of participants of age 25-35</th>
      <th scope="col">Number of participants with 2 income sources</th>
      <th scope="col">Average asset value of agricultural enterprise</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> 1</th>
      <td>10</td>
      <td>15</td>
      <td>12</td>
      <td>1200</td>
    </tr>
    <tr>
      <th scope="row"> 2</th>
      <td>12</td>
      <td>13</td>
      <td>9</td>
      <td>1500</td>
    </tr>
    <tr>
      <th scope="row"> 3</th>
      <td>15</td>
      <td>18</td>
      <td>20</td>
      <td>1400</td>
    </tr>
    <tr>
      <th scope="row"> 4</th>
      <td>13</td>
      <td>16</td>
      <td>18</td>
      <td>1600</td>
    </tr>
    <tr>
      <th scope="row"> 5</th>
      <td>10</td>
      <td>9</td>
      <td>15</td>
      <td>1350</td>
    </tr>
  </tbody>
</table>
</div>
</div>


{% endblock %}